input[type="number"]{
    width: 50px;
    font-size: 14px;
    padding-left: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#rotationAngleAxisContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
#rotationEulerContainer {
    display: grid;
    grid-template-columns: auto auto auto;
}

input[type="number"]:focus {
    border: 1px solid rgb(42, 130, 230);
}

.wheel_if {
    display: contents;
}