<p>{{displayName}} {{number}}</p>
<label>X: </label><input type="range" max="100" min="0" value="{{x}}" (input)="sliderChange($event, 'x')"><input value="{{x}}" (keyup)="specificValue($event,'x')">
<br>
<label>Y: </label><input type="range" max="100" min="0" value="{{y}}" (input)="sliderChange($event, 'y')"><input value="{{y}}" (keyup)="specificValue($event,'y')">
<br>
<label>Z: </label><input type="range" max="100" min="0" value="{{z}}" (input)="sliderChange($event, 'z')"><input value="{{z}}" (keyup)="specificValue($event,'z')">
<br>
<!-- <label>Rotation: </label><input type="range" max="6" min="0" value="0" (input)="sliderChange($event, 'y')"> 
<br> -->
<label>Name: </label><input value="{{customName}}" (keyup)="updateName($event)">