
<body>
  <table>
    <tr><br></tr>
    <tr id='bottomRow'>
      <td id='info' colspan="3">
        <div style="text-align: center;">
          <img src="/assets/images/robocup.png" style="height: 50px;"/>
          <h1 style="margin-bottom: 5px;">
            Erebus Robot Customisation 2021
          </h1>
          <span>Ver. 21.2.4</span>
          <h2 class="budget">
            Budget: {{budget}} &nbsp;&nbsp;Cost: {{cost}}
          </h2>
        </div>
        

        <div id="threeCanvas">
          <div #three></div>
        </div>
        <div id="file">
          <label>File Name: </label>
          <input #fileNameInput class="input" value="{{fileName}}">
          <button mat-raised-button color="primary" (click)="export_to_json()">Export to Json</button>
          <!-- <br>
          <br> -->
          <!-- <label>Share Code: </label> -->
          <!-- <input #shareCodeOutput class="input" value="{{shareCode}}"> -->
          <!-- <button mat-raised-button color="primary" (click)="shareCodeToClip()">Copy Share Code to Clipboard</button> -->
          <br>
          <br>
          <!-- <label>Import via json: </label> -->
          <!-- <input #shareCodeInput class="input" value=""> -->
          <button mat-raised-button color="primary" (click)="jsonInput.click()">Import from Json</button>
          <input hidden (change)="jsonSelected($event)" #jsonInput type="file" id="file">
        </div>
        <br>
      </td>
      <td colspan="2">
        <h2>Sensors:</h2>
        <div *ngFor="let item of components">
          <app-component-checkbox [import]=checkboxImport[item.dictName] [values]=checkboxValues[item.dictName] [customName]="item.defaultName" [dictName]="item.dictName" [type]="item.type" [cost]="item.cost" [name]="item.name" [totalCost]="cost" [budget]="budget" (outputCost)="checkBoxChecked($event)" (component)="addSelectedComponent($event)"></app-component-checkbox>
        </div>
        <br>
      </td>
      <td colspan="2">
        <h2>Distance Sensors ({{distCost}}): </h2>
        <label>Number of Distance Sensors</label><mat-slider type="range" max="8" min="0" value="{{numberOfDists}}" (input)="onDistSliderChange($event)"> </mat-slider>
        <br>
        <br>
        <div *ngFor="let dist of distsIterator; let j = index">
          <app-component-slider [values]=distanceSensorValues[j] [zxmax]=370 [name]="'Distance Sensor'" [number]="j + 1" (component)="addSelectedComponent($event)"></app-component-slider>
        </div>
      </td>
      <td colspan="2">
        <h2>Wheels ({{wheelCost}}):</h2>
        <label>Number of Wheels</label><mat-slider type="range" max="4" min="1" value="{{numberOfWheels}}" (input)="onWheelSliderChange($event)"></mat-slider>
        <br>
        <br>
        <div *ngFor="let item of wheelsIterator; let i = index">
          <app-component-slider [values]=wheelSensorValues[i] [zxmax]=260 [name]="'Wheel'" [number]="i + 1" (component)="addSelectedComponent($event)"></app-component-slider>
        </div>
      </td>
      
    </tr>
  </table>
  
</body>