#help_text {
    background-color: #aaaaaa;
    padding: 10px 10px 10px 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.warning_symbol {
    font-size: 50px;
    padding: 10px 10px 10px 0px;
}
body {
    display: flex;
    flex-direction: column;
}
table{
    width: 100%;
    table-layout: fixed;
    flex: 1;
}
td {
    padding-left: 10px;
    padding-right: 10px;
}
h1 {
    font-size: 40px;
}
#threeCanvas {
    position: relative;
}
.budget {
    font-size: 24px;
    font-weight: bold;
}

/* #three{
    position: 'absolute';
    top: 0px; 
} */
#bottomRow{
    vertical-align: top;
}

#info{
    /* text-align: center; */
}

#three{
    text-align: left;
}
#file {
}

.input {
    height: 36px;
    margin-right: 10px;
    font-size: 14px;
    padding-left: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.input:focus {
    border: 1px solid rgb(42, 130, 230);
}

#axisHelpText {
    font-weight: bold;
}

#x_axis {
    color: red
}
#y_axis {
    color: rgb(82, 209, 78)
}
#z_axis {
    color: blue;
}
